/* Prevent horizontal scrolling */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  
  /* Allow the body to scroll without affecting the header */
  .main-content {
    margin-top: 80px; /* Adjust based on header height */
    height: 100vh;
    overflow-y: auto;
  }
  