/* src/styles/Login.css */
.login-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9f8e1;
  }
  
  .login-box {
    position: relative; /* Needed for the overlay */
    margin-top: 100px;
    padding: 50px 150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    /* Background Image */
    background: url('../assets/b1.png') center/cover no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.774); /* White overlay effect */
}

  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .sub-text {
    color: #474747;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    margin-right: 10px;
    color: #666;
  }
  
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
  
  .login-button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .forgot-password,
  .signup-link {
    font-size: 12px;
    margin-top: 10px;
    color: #525a53;
    cursor: pointer;
    text-decoration: underline;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures header stays above content */
  }
  
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  height: 50px;
  margin-right: 10px;
}
.title {
  font-size: 28px;
  font-weight: bold;
  color: #4CAF50;
  font-family: 'Arial', sans-serif;
}
.nav {
  display: flex;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}
 
.register-link {
    font-size: 12px;
    margin-top: 10px;   
    color: #4caf50;
    cursor: pointer;
}

.register-link a {
    text-decoration: underline;
    color: #4caf50;
    font-weight: bold;
}