/* Responses Container */
.responses-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5fff5;
}

/* Main Content */
.responses-main-content {
  flex: 1;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  margin: 120px 20px 10px 115px;
  border: 1px solid black;
}

/* Header */
.responses-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Search Bar Container */
.responses-search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.responses-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
}

.responses-search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.responses-search-icon {
  color: #777;
  margin-left: 5px;
}

.responses-create-form-button {
  background: #ffffff;
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.responses-create-form-button:hover {
  background: #f0f0f0;
}

/* Table */
.responses-table-container {
  background: #eaf8e4;

  border-radius: 10px;
}

.responses-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.responses-table th,
.responses-table td {
  padding: 12px;
  border-bottom: 1px solid #d4edda;
  border: 1px solid rgb(0, 0, 0);
}

.responses-table th {
  background: #edf7f0;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.responses-table tbody tr:nth-child(odd) {
  background: white;
}

.responses-table tbody tr.highlight-row {
  background: #d4edda;
}

.status-active {
  color: green;
  font-weight: bold;
}

/* Icons */
.responses-user-icon {
  margin-right: 10px;
  cursor: pointer;
}

.responses-user-icon:hover {
  color: red;
}

/* Pagination */
.responses-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 8px;
}

.responses-pagination button {
  background: none;
  border: none;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  width: 40px;
}

.responses-pagination button:disabled {
  color: #ccc;
  cursor: default;
}

.responses-pagination span {
  font-size: 16px;
  color: #666;
}

.responses-pagination button:hover {
  background-color: #4fb838;
  border-radius: 5px;
  color: white;
}
