.sb-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6f4e6; /* Light green background */
    width: 100px; /* Adjust width to make content visible */
    height: 100vh; /* Ensure it takes full height */
    margin-top: 68px;
    padding: 15px 0;
    border-right: 2px solid #c0e0c0; /* Light green border */
    position: fixed;
    top: 0;
    left: -5px;
    overflow-y: auto; /* Add scroll if content overflows */
    gap: 0px;
    border: 1px solid black;
   
}

.sb-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 25px 0;
    width: 100%;
    gap: 0px;
    color: #333;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.sb-menu-item .sb-icon {
    font-size: 24px;
    height: auto;
}

.sb-menu-item span {
    font-size: 12px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}

.sb-menu-item.active,
.sb-menu-item:hover {
    background: linear-gradient(180deg, #b8e3aa, #89da83);
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
